@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import 'tailwindcss';
html,
body {
  width: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-width: none;
  font-family: Pretendard, system-ui, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  min-width: 375px;
  max-width: 430px;
  min-height: 100dvh;
  margin: 0 auto;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
